{{define "jobs.queue"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Hello, Arrower!</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />

        <link rel="stylesheet" href="/css/main.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js" integrity="sha512-VdqgeoWrVJcsDXFlQEKqE5MyhaIgB9yXUVaiUa8DR2J4Lr1uWcFm+ZH/YnzV5WqgKf4GPyHQ64vVLgzqGIchyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body>

    <div style="display:flex;">
        <h3>Queue: {{ .QueueName }}</h3>

        <div id="job_types" style="width: 600px;height: 200px;"></div>

        <table>
            <tr>
                <th scope="col">Jobs Pending</th>
                <th scope="col">Number of workers</th>
                <th scope="col">Failed</th>
                <th scope="col">Pending Jobs Error Rate</th>
                <th scope="col">Average time per Job</th>
                <th scope="col">Estimate until empty</th>
            </tr>
            <tr>
                <td>{{ .Stats.PendingJobs }}</td>
                <td>{{ .Stats.AvailableWorkers }}</td>
                <td>{{ .Stats.FailedJobs }}</td>
                <td>{{ .Stats.PendingJobsErrorRate }}%</td>
                <td>{{ .Stats.AverageTimePerJob }}</td>
                <td>{{ .Stats.EstimateUntilEmpty }}</td>
            </tr>
        </table>
    </div>


    <table>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Type</th>
            <th scope="col">Priority</th>
            <th scope="col">Payload</th>
            <th scope="col">Run At</th>
            <th scope="col">Error Count</th>
            <th scope="col">Actions</th>
        </tr>
        {{ range .Jobs }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Type }}</td>
                <td>{{ .Priority }}</td>
                <td><pre>{{ .Payload }}</pre></td>
                <td>{{ .RunAt }}</td>
                <td title="{{ .LastError }}">{{ .ErrorCount }}</td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                    ->Run Now
                </td>
            </tr>
        {{ end }}
    </table>


    <script type="text/javascript">
        // Create the echarts instance
        var myChart = echarts.init(document.getElementById('job_types'));
        // Draw the chart
        myChart.setOption({
            tooltip: {
                trigger: 'item',
                formatter: '<b>{b}</b>: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                selectedMode: false,
                data: [
                    {{ range $key, $value := .Stats.PendingJobsPerType }}
                    '{{ $key }}',
                    {{ end }}
                ]
            },
            series: [
                {
                    type: 'pie',
                    radius: '30%',
                    center: ['60%', '50%'],
                    data: [
                        {{ range $key, $value := .Stats.PendingJobsPerType }}
                        {
                            name: {{ $key }},
                            value: {{ $value }}
                        },
                        {{ end }}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        });
    </script>

    </body>
    </html>
{{end}}