{{ define "admin.title"}}All Settigns{{end}}

<form action="/admin/auth/settings" method="post" autocomplete="off" > <!-- FF needs autocomplete="off" for checked to work, see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/checkbox, https://stackoverflow.com/questions/5985839/bug-with-firefox-disabled-attribute-of-input-not-resetting-when-refreshing  -->
    {{ range $context, $groups := .Settings }}
        <h2 class="text-2xl">{{ $context }} Context</h2>

            {{ range $group := $groups }}
                <fieldset class="mt-2">
                    <legend class="text-lg bg-green-200">{{ $group.Name }}</legend>

                    {{ range $setting := $group.Settings }}
                        {{ template "setting.component" $setting }}
                    {{ end }}
                </fieldset>
            {{ end }}
    {{ end }}
</form>