<div>
    <h1 class="text-4xl font-bold">Tenants</h1>
</div>

<table class="table-auto border border-collapse mt-6 text-left">
    <thead class="bg-gray-100">
    <tr>
        <th scope="col" class="p-1 border border-slate-300">ID</th>
        <th scope="col" class="p-1 border border-slate-300">Name</th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
        <tr class="odd:bg-white even:bg-slate-50">
            <td class="p-1">{{ .ID.Value }}</td>
            <td class="p-1">{{ .Name }}</td>
        </tr>
    {{ end }}
    </tbody>
</table>