<div hx-ext="multi-swap"
     hx-get="/admin/jobs/{{ .QueueName }}"
     hx-trigger="every 1s"
     hx-swap="multi:#statistics,#jobs">
    <div class="flex w-full justify-between">
        <h1 class="text-4xl font-bold min-w-fit">Queue: {{ .QueueName }}</h1>

        <div id="job_types" class="h-36 grow p-0 mx-4 my-0{{ if eq .Stats.PendingJobs 0}} invisible{{end}}"></div>

        <table class="grow">
            <thead class="bg-gray-100">
            <tr>
                <th scope="col" class="p-1 border border-slate-300">Pending</th>
                <th scope="col" class="p-1 border border-slate-300">Workers</th>
                <th scope="col" class="p-1 border border-slate-300">Failed</th>
                <th scope="col" class="p-1 border border-slate-300">Error Rate</th>
                <th scope="col" class="p-1 border border-slate-300">Average time per Job</th>
                <th scope="col" class="p-1 border border-slate-300">Estimate until empty</th>
            </tr>
            </thead>
            <tbody id="statistics">
            <tr>
                <td class="p-1">{{ .Stats.PendingJobs }}</td>
                <td class="p-1">{{ .Stats.AvailableWorkers }}</td>
                <td class="p-1">{{ .Stats.FailedJobs }}</td>
                <td class="p-1">{{ .Stats.PendingJobsErrorRate }}%</td>
                <td class="p-1">{{ .Stats.AverageTimePerJob }}</td>
                <td class="p-1">{{ .Stats.EstimateUntilEmpty }}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <table class="table-auto w-full mt-8">
        <thead class="bg-gray-100">
        <tr>
            <th scope="col" class="p-1 border border-slate-300 min-w-fit">ID</th>
            <th scope="col" class="p-1 border border-slate-300 min-w-fit">Type</th>
            <th scope="col" class="p-1 border border-slate-300 min-w-fit">Priority</th>
            <th scope="col" class="p-1 border border-slate-300">Payload</th>
            <th scope="col" class="p-1 border border-slate-300 min-w-fit">Run At</th>
            <th scope="col" class="p-1 border border-slate-300 min-w-fit">Error Count</th>
            <th scope="col" class="p-1 border border-slate-300 min-w-fit">Actions</th>
        </tr>
        </thead>
        <tbody id="jobs">
        {{ range .Jobs }}
            {{ template "job.component" . }}
        {{ end }}
        </tbody>
    </table>
</div>


<script type="text/javascript">
    // Create the echarts instance
    var myChart = echarts.init(document.getElementById('job_types'));
    // Draw the chart
    myChart.setOption({
        tooltip: {
            trigger: 'item',
            formatter: '<b>{b}</b>: {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            selectedMode: false,
            data: [
                {{ range $key, $value := .Stats.PendingJobsPerType }}
                '{{ $key }}',
                {{ end }}
            ]
        },
        series: [
            {
                type: 'pie',
                //radius: '30%',
                //center: ['60%', '50%'],
                data: [
                    {{ range $key, $value := .Stats.PendingJobsPerType }}
                    {
                        name: {{ $key }},
                        value: {{ $value }}
                    },
                    {{ end }}
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    });
</script>