<div class="flex w-full justify-between">
    <h1 class="text-4xl font-bold">{{ len .Queues }} Queue(s)</h1>

    <div id="queues" class="h-36 grow p-0 m-0"></div>
    <div id="processed" class="h-36 grow p-0 m-0"></div>
</div>


<table class="table-auto w-full border border-collapse mt-16 text-left">
    <thead class="bg-gray-100">
        <tr>
            <th scope="col" class="p-1 border border-slate-300">Queue</th>
            <th scope="col" class="p-1 border border-slate-300">State</th>
            <th scope="col" class="p-1 border border-slate-300">Size</th>
            <th scope="col" class="p-1 border border-slate-300">Processed</th>
            <th scope="col" class="p-1 border border-slate-300">Failed</th>
            <th scope="col" class="p-1 border border-slate-300">Pending Error Rate</th>
        </tr>
    </thead>
    <tbody>
        {{ range $queue, $stats := .Queues }}
        <tr class="odd:bg-white even:bg-slate-50">
            <td class="p-1">
                <a href="/admin/jobs/{{ $stats.QueueName }}" class="font-medium">{{ $stats.QueueName }}</a>
            </td>
            <td class="p-1 text-green-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                </svg>
            </td>
            <td class="p-1">{{ $stats.PendingJobs }}</td>
            <td class="p-1">{{ $stats.ProcessedJobs }}</td>
            <td class="p-1">{{ $stats.FailedJobs }}</td>
            <td class="p-1">{{ $stats.PendingJobsErrorRate }}</td>
        </tr>
        {{ end }}
        <tr class="odd:bg-white even:bg-slate-50">
            <td class="p-1">
                <a href="#" class="font-medium">Paused Queue</a>
            </td>
            <td class="p-1 text-orange-600">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM9 8.25a.75.75 0 00-.75.75v6c0 .414.336.75.75.75h.75a.75.75 0 00.75-.75V9a.75.75 0 00-.75-.75H9zm5.25 0a.75.75 0 00-.75.75v6c0 .414.336.75.75.75H15a.75.75 0 00.75-.75V9a.75.75 0 00-.75-.75h-.75z" clip-rule="evenodd" />
                </svg>
            </td>
            <td class="p-1">0</td>
            <td class="p-1">0</td>
            <td class="p-1">0</td>
            <td class="p-1">0</td>
        </tr>
        <tr class="odd:bg-white even:bg-slate-50">
            <td class="p-1">
                <a href="#" class="font-medium">Empty Queue</a>
            </td>
            <td class="p-1 text-green-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </td>
            <td class="p-1">0</td>
            <td class="p-1">0</td>
            <td class="p-1">0</td>
            <td class="p-1">0</td>
        </tr>
    </tbody>
</table>


<script type="text/javascript">
    // Create the echarts instance
    var myChart = echarts.init(document.getElementById('queues'));
    // Draw the chart
    myChart.setOption({
        tooltip: {
            trigger: 'item',
            formatter: '<b>{b}</b>: {c} ({d}%)'
        },
        series: [
            {
                type: 'pie',
                data: [
                    {{ range $queue, $stats := .Queues }}
                    {
                        name: {{ $stats.QueueName }},
                        value: {{ $stats.PendingJobs }}
                    },
                    {{ end }}
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    });

    // Create the echarts instance
    var myChart = echarts.init(document.getElementById('processed'));
    // Draw the chart
    myChart.setOption({
        xAxis: {
            type: 'category',
            data: ['01.04.23', '02.04.23', '03.04.23', '04.04.23', '05.04.23', '06.04.23', '07.04.23']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                data: [120, 200, 250, 750, 1000, 1500, 1800],
                type: 'line',
                smooth: true
            }
        ]
    });
</script>