{{ define "admin.title" }}
    {{ if eq 1 (len .Queues) }}
        1 Queue
    {{ else }}
        {{ len .Queues }} Queues
    {{ end }}
{{ end }}


<div id="statistics" class="flex w-full justify-between">
    <div id="queues" class="h-36 grow p-0 m-0"></div>
    <div id="processed" class="h-36 grow p-0 m-0"></div>
</div>


<table hx-get="/admin/jobs"
       hx-trigger="every 4.5s"
       hx-swap="outerHTML"
       hx-select="#queue-list"
       hx-target="#queue-list"
       hx-disinherit="hx-target hx-select hx-swap"
       class="table-auto w-full border border-collapse mt-16 text-left">
    <!-- todo add #statistics BUT js will not redraw the charts -->
    <thead class="bg-gray-100">
    <tr>
        <th scope="col" class="p-1 border border-slate-300">Queue</th>
        <th scope="col" class="p-1 border border-slate-300">State</th>
        <th scope="col" class="p-1 border border-slate-300">Pending</th>
        <th scope="col" class="p-1 border border-slate-300">Processed</th>
        <th scope="col" class="p-1 border border-slate-300">Failed</th>
        <th scope="col" class="p-1 border border-slate-300">Pending Error Rate</th>
    </tr>
    </thead>
    <tbody id="queue-list">
    {{ range .Queues }}
        {{ template "queue" . }}
    {{ end }}
    </tbody>
</table>


<script id="charts" type="text/javascript">
    document.body.addEventListener('htmx:load', function (evt) {
        let options = {
            tooltip: {
                trigger: 'item',
                formatter: '<b>{b}</b>: {c} ({d}%)'
            },
            series: [
                {
                    type: 'pie',
                    data: [
                        {{ range $queue, $stats := .Queues }}
                        {
                            name: {{ $stats.QueueName }},
                            value: {{ $stats.PendingJobs }}
                        },
                        {{ end }}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        // Create the echarts instance
        var myChart = echarts.init(document.getElementById('queues'));

        // Draw the chart
        myChart.setOption(options,{notMerge:true});

        // Create the echarts instance
        var myChart = echarts.init(document.getElementById('processed'));
        // Draw the chart
        myChart.setOption({
            xAxis: {
                type: 'category',
                data: ['01.04.23', '02.04.23', '03.04.23', '04.04.23', '05.04.23', '06.04.23', '07.04.23']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    data: [120, 200, 250, 750, 1000, 1500, 1800],
                    type: 'line',
                    smooth: true
                }
            ]
        });
    });
</script>


{{ define "queue"}}
    <tr class="odd:bg-white even:bg-slate-50">
        <td class="p-1">
            <a href="/admin/jobs/{{ .QueueName }}" class="font-medium">{{ .QueueName }}</a>
        </td>
        <td class="p-1">
            {{ if eq 0 .PendingJobs }}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6 text-green-600">
                    <title>No jobs, waiting</title>
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
            {{ else if eq 0 .AvailableWorkers }}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="w-6 h-6 text-orange-600">
                    <title>No workers</title>
                    <path fill-rule="evenodd"
                          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM9 8.25a.75.75 0 00-.75.75v6c0 .414.336.75.75.75h.75a.75.75 0 00.75-.75V9a.75.75 0 00-.75-.75H9zm5.25 0a.75.75 0 00-.75.75v6c0 .414.336.75.75.75H15a.75.75 0 00.75-.75V9a.75.75 0 00-.75-.75h-.75z"
                          clip-rule="evenodd"/>
                </svg>
            {{ else }}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6 text-green-600">
                    <title>Processing</title>
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"/>
                </svg>
            {{ end }}
        </td>
        <td class="p-1">{{ .PendingJobs }}</td>
        <td class="p-1">{{ .ProcessedJobs }}</td>
        <td class="p-1">{{ .FailedJobs }}</td>
        <td class="p-1">{{ .PendingJobsErrorRate }}%</td>
    </tr>
{{ end }}